<%
subTotal = 0
tax_percent = 0
tax = 0%>

<div class= "container">
<h1>Invoice</h1>
<%= form_with method: :get do |f|%>
<div class="select">
 <%= f.select 'province', options_for_select(Province.all.map{|el| [el.name, el.id]}, params[:province]), class: "select"%>
 </div>
 <%= f.button "Update Tax", class: "button is-link"%>
<% end %>
<table class="table">
<th>Product</th>
<th>Quantity</th>
<th>Price</th>

<tbody>
  <% @cart_id.each do |item|%>
  <% index = session[:cart_id].index(item.id)%>
  <tr>
    <td>
      <%= link_to item.name, item%>
    </td>
    <td>
      <%= @cart_quantity[index] %>
    </td>
    <td>
      <%=number_to_currency (@cart_quantity[index] * item.price)/100.0%>
      <% subTotal = subTotal + @cart_quantity[index] * item.price%>
    </td>

  </tr>
  <% end %>
  <tr>
    <td>
    </td>
     <td>
      Sub Total
    </td>
    <td>
    <%= number_to_currency subTotal/100.0%>
    </td>
  </tr>
  <tr>
    <td>
    </td>
     <td>
      Taxes
    </td>
    <td>
    <% tax = (subTotal * @tax_percent.to_f)%>
    <%= number_to_currency tax/100.0%>
    </td>
  </tr>
  <tr>
    <td>
    </td>
    <td>
      Total
    </td>
    <td>
    <%= number_to_currency (subTotal + tax)/100.0%>
    </td>
  </tr>
</tbody>
</table>

<%= button_to 'Checkout', checkout_path, data: {turbo: false}, method: :get, class: "button is-link"%>
</div>
