<div id="<%= dom_id game %>">
  <p>
    <strong>Name:</strong>
    <%= game.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= game.description %>
  </p>

  <p>
    <strong>Publish date:</strong>
    <%= game.publish_date %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= game.price %>
  </p>

  <p>
    <strong>Stock:</strong>
    <%= game.stock %>
  </p>

</div>
