<div id="<%= dom_id game %>">
  <p>
    <strong>Name:</strong>
    <%= game.name %>
  </p>

  <p>
    <strong>Genre:</strong>
    <%# <%= game.genre.name %>
    <% if @game != nil %>
    <%= link_to @game.genre.name, @game.genre%>
    <% elsif game != nil %>
    <%= link_to game.genre.name, game.genre%>
    <% end %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= game.description %>
  </p>

  <p>
    <strong>Publish date:</strong>
    <%= game.publish_date %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= game.price %>
  </p>



</div>
