<header>
  <section class="section">
  <div class="container">
  <nav class="navbar  has-background-light" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://bulma.io">
        <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
      </a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <%= link_to "All Games", games_path, class: "navbar-item" %>


        <%= link_to "All Companies", companies_path, class: "navbar-item" %>
        <div class="navbar-item has-dropdown is-hoverable">
          <%= link_to "All Genres", genres_path, class: "navbar-link" %>

          <div class="navbar-dropdown">
            <% @nav_genres.each do |genre|%>
            <%= link_to genre.name, genre, class: "navbar-item" %>
            <% end %>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <%= link_to "More", "", class: "navbar-link" %>
          <div class="navbar-dropdown">

                    <% Page.all.each do | page |%>
                      <%= link_to page.title, permalink_path(page.permalink), class: "navbar-item"  %>
                    <% end %>
          </div>
        </div>
      </div>

      <%# <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-primary">
              <strong>Sign up</strong>
            </a>
            <a class="button is-light">
              Log in
            </a>
          </div>
        </div>
      </div>
    </div> %>
</nav>
  </div>
  </section>

</header>

